// Colors
$white: #FFFFFF;
$red: hsl(0, 100%, 74%);
$red-shadow: #DD6767;
$green: hsl(154, 59%, 51%);
$secondary-green: rgba(54, 178, 124, 1);
$tertiary-green: rgba(119, 226, 180, 1);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);
$light-gray: #DEDEDE;
$dark-gray: rgba(103, 102, 108, 1);

// Fonts
$poppins: 'Poppins', sans-serif;